#competence {
  padding-top: 60px;
  /* Ajustez selon la hauteur de votre header */
  margin: 20px 0;
  /* Compense l'espace supplémentaire */
  scroll-margin-top: 25px;
}
.competences {
  padding: 50px 20px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  padding: 2rem;
  background: linear-gradient(135deg, #832020, #2b1b1b);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  padding-bottom: 85px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  position: relative;
  top: 50%;
}
.card {
  background: rgb(7, 6, 6);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.card h2 {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  border-bottom: 4px solid #5317;
  padding-bottom: 0.5rem;
}
.card:hover {
  transform: translateY(-5px);
}
.skill {
  margin-bottom: 1.5rem;
  position: relative;
  height: 60px;
  overflow: hidden;
  cursor: pointer;
  height: 15vh;
}
.skill:last-child {
  margin-bottom: 0;
}
.skill-name,
.progress-bar-container {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.3rem;
  transition: opacity 0.3s ease;
  padding: 5px;
  border: 2px solid #ad5317;
  background: white;
  color: #000;
  pointer-events: none;
}
.progress-bar-container {
  opacity: 0;
  border-color: #ad5317;
}
.skill:hover .skill-name {
  opacity: 0;
}
.skill:hover .progress-bar-container {
  opacity: 1;
  border-color: #4caf50;
}
.progress-bar {
  width: 0;
  height: 15px;
  background-color: #4caf50;
  border-radius: 20px;
  transition: width 1.3s ease;
  pointer-events: none;
}
.progress-text {
  margin-left: 10px;
  font-size: 0.9rem;
  pointer-events: none;
  color: #000;
}
.skill-name i {
  margin-right: 8px;
  color: #ad5317;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

section {
  /* height: 100vh;

  padding: 2rem;
  position: relative; */
}
